/* file: var/web/style/apparition.css */
/* author: raymond@burkholder.net */
/* date: 2023/07/01 16:09?01 */

.app-font-size-50 {
  font-size: 0.5rem;
  }

.app-font-size-60 {
  font-size: 0.6rem;
  }

.app-font-size-70 {
  font-size: 0.7rem;
  }

.app-font-size-80 {
  font-size: 0.8rem;
  }

.app-font-size-90 {
  font-size: 0.9rem;
  }

